{
  "brave": {
    "rewards": {
      "enabled": false
    },
    "wallet": {
      "selected_crypto_wallets": {},
      "default_wallet_selected": false,
      "default_solana_wallet_selected": false
    },
    "sync": {
      "enabled": false
    },
    "p3a": {
      "enabled": false,
      "p3a_enabled": false,
      "p3a_analytics_enabled": false
    },
    "stats": {
      "reporting_enabled": false
    },
    "extensions": {
      "ethereum_addresses": {}
    }
  },
  "alternate_error_pages": {
    "enabled": false
  },
  "safe_browsing": {
    "enabled": true,
    "scout_reporting_enabled": false
  },
  "autofill": {
    "enabled": false
  }
}
